name: Publish package to the Maven Central Repository
on:
  push:
    branches: [ master ]
  release:
    types: [ created ]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Maven Central Repository
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Prepare Gradle local.properties
        run: echo ${{ secrets.SIGNING_SECRET_KEY_RING }} | base64 -d > secring.gpg && echo -e "signing.keyId=${{ secrets.SIGNING_KEY_ID }}\nsigning.password=${{ secrets.SIGNING_PASSWORD }}\nsigning.secretKeyRingFile=secring.gpg" > local.properties
      - name: Publish package
        run: ./gradlew uploadArchives
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
